@()(implicit request: Request[AnyContent])
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Twitter Mongo Streaming</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//cdn.jsdelivr.net/jsrender/1.0pre35/jsrender.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-narrow">

            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="https://github.com/47deg/labs-scala-play-mongo">Github</a></li>
                </ul>
                <h3 class="muted">Twitter -> MongoDB -> Browser</h3>
            </div>

            <hr>

            <div class="jumbotron">
                <p class="lead">Part of the Scala Play demo for the @@betabeers #bbCDZ Anniversary.</p>
                <form class="form-search">
                    <input type="text" id="keywordsInput" class="input-medium search-query" />
                    <button id="runKeywordsButton" class="btn btn-large btn-success">Stream!</button>
                </form>
            </div>

            <hr>

            <div class="row-fluid">
                <ul id="list">
                    <script id="tweetTemplate" type="text/x-jsrender">
                        <li>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" data-src="holder.js/48x48" alt="48x48" style="width: 48px; height: 48px;" src="{{>user.profile_image_url}}">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><span>{{>user.name}}</span> <small><i>@@{{>user.screen_name}}</i></small> <small><i>{{>user.created_at}}</i></small></h4>
                                    {{>text}}
                                </div>
                            </div>
                        </li>
                    </script>
                </ul>
            </div>

            <hr>

            <script type="text/javascript">

                var cometMessage = function(event) {
                    console.log('message:' + event);
                    var tweet = event;
                    if (tweet && tweet.user) {
                       $('#list').prepend($("#tweetTemplate").render(tweet));
                    }
                }

                $(document).ready(function(){

                    $('#runKeywordsButton').click(function(){

                        var keywords = $('#keywordsInput').val();

                        $('#commetIframe').remove();

                        $('body').append('<iframe width="700" scrolling="no" height="400" frameborder="0" seamless="seamless" id="commetIframe" src="@routes.Application.watchTweets("").absoluteURL()' + keywords + '"></iframe>');

                        return false;
                    });

                });

            </script>

            <div class="footer">
                <p>&copy; 47 Degrees 2013</p>
            </div>

        </div> <!-- /container -->

    </body>
</html>
